{% extends "base.html" %}

{% block content %}
    <h1>Welcome to {{ user.username }}'s Subscription Tracker!</h1>

    <h2>Active Subscriptions</h2>

    <p><b>Total Monthly Cost: {{ total_monthly_cost }}, Total Yearly Cost: {{ total_yearly_cost }}</b></p>

    {% for sub in subscriptions %}
    <div><p>{{ sub.name }} costs
        <b>${{ sub.cost }} {{ sub.payment_frequency }}</b> as of {{ sub.active_date }}
    </p></div>
    {% endfor %}

    <p><a href="{{ url_for('subscription') }}">Click to add a Subscription</a></p>
    <p><a href="{{ url_for('log') }}">Click to add a Log</a></p>

    <p><a href="{{ url_for('subscription_update') }}">Click to update an existing Subscription</a></p>
{% endblock %}
