{% extends "base.html" %}

{% block content %}
<h1>Log</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.date.label }}<br>
        {{ form.date(size=4) }}<br>
        {% for error in form.date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.subscription.label }}<br>
        {{ form.subscription(size=16) }}<br>
        {% for error in form.subscription.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.media_title.label }}<br>
        {{ form.media_title(size=16) }}<br>
        {% for error in form.media_title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.media_type.label }}<br>
        {{ form.media_type(size=4) }}<br>
        {% for error in form.media_type.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.season_number.label }}<br>
        {{ form.season_number(size=4) }}<br>
        {% for error in form.season_number.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.episode_number.label }}<br>
        {{ form.episode_number(size=4) }}<br>
        {% for error in form.episode_number.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.notes.label }}<br>
        {{ form.notes(size=32) }}<br>
        {% for error in form.notes.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
