{% extends "base.html" %}

{% block content %}
<h1>Update Subscription</h1>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.subscription.label }}<br>
        {{ form.subscription(size=16) }}<br>
        {% for error in form.subscription.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.cost.label }}<br>
        {{ form.cost(size=16) }}<br>
        {% for error in form.cost.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.payment_frequency.label }}<br>
        {{ form.payment_frequency(size=4) }}<br>
        {% for error in form.payment_frequency.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.active_date.label }}<br>
        {{ form.active_date(size=4) }}<br>
        {% for error in form.active_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.inactive_date.label }}<br>
        {{ form.inactive_date(size=4) }}<br>
        {% for error in form.inactive_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
